TELEGRAM_BOT_TOKEN=
SUPABASE_SUPABASE_PUBLIC_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Optional
APP_ENV=prod
PORT=3002
PUBLIC_BASE_URL=
WEBHOOK_PATH=/telegram/webhook
TELEGRAM_WEBHOOK_SECRET=
ALERT_CHANNEL_ID=
